.alert {
  @extend .bot-grey-border;
  padding-top:20px;
  padding-bottom:30px;
}
.alert-body {
  span {
    color:$grey;
  }
  .details {
    overflow:auto;
    img {
      width:30px;
      height:30px;
      float:left;
      margin-right:10px;
    }
    .commit-details {
      float:left;
    }
  }
}
